html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-image: url("image.jpg");
    background-size: cover;
    max-width: 100vw;
}

header {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    max-width: 100vw;
}

.left {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

span {
    font-size: 2.5rem;
    color: #fff;
}

.target {
    display: flex;
    align-items: center;

}

.links-to {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1.5rem;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem;
    height: 100vh;

}

h1 {
    color: #fff;
    font-size: 6rem;
    margin-bottom: 1rem;
    min-width: 90%;
    padding-left: 1rem;
}

h2 {
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 3rem;

}

.intro {
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 4rem;
    font-style: italic;

}

.profile {
    border-radius: 50%;
    width: 100%;
    max-width: 250px;
    max-height: 250px;
}

.projects {
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 100vw;
    margin-right: 1rem;
}

.projects>h2 {
    text-align: center;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.project>img {
    border-radius: 50%;
    border: 0.2rem solid black;
    width: 100%;
    max-width: 100px;
    max-height: 100px;
}

.project-text {
    display: flex;
    align-items: center;
    z-index: -1;
    text-align: justify;
    background-color: #fff;
    border: 0.2rem solid black;
    border-radius: 10px;
    padding: 1rem;
    padding-left: 2.5rem;
    margin-left: -2rem;
    margin-right: 1rem;
    font-size: 0.8rem;
}

.website-link {
    color: #fff;
    text-transform: lowercase;
}

.fa-solid, .fas {
    text-transform: lowercase;
    font-size: 0.5rem;
}

.who {
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.who > h2 {
    text-align: center;
}

.who-container {
    color: #fff;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.who-container>p {
    padding: 1.5rem;
}

.contact {
    /* margin-top: 1rem; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-line>i {
    font-size: 3rem;
    padding-right: 1rem;
    color: #fff;
}

.contact>h2 {
    text-align: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-line {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    padding: 1.5rem;
    font-size: 1.5rem;
}

.contact-line>a {
    text-decoration: none;
    color: #fff;
}

.button {
    text-decoration: none;
    color: #fff;
}

.back-to-top {
    font-size: 2rem;
    position: fixed;
    bottom: 10px;
    float: right;
    left: 85%;
    max-width: 80px;
    width: 100%;
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.338);
    border-radius: 4px;
}