@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



body {
    font-family: 'Playfair Display', serif;
    background-image: url("image.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    max-width: 100vw;
}

.left {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

span {
    font-size: 2.5rem;
    color: #fff;
}

.target {
    display: flex;
    align-items: center;

}

.links-to {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1.5rem;
}


.right {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 1rem;
    height: 100vh;

}

h1 {
    font-weight: bold;
    color: #fff;
    font-size: 6rem;
    margin-bottom: 1rem;
    min-width: 90%;
    padding-left: 1rem;
}

h2 {
    font-weight: bold;
    font-style: italic;
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 3rem;

}

.intro {
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 4rem;
    font-style: italic;

}

.profile {
    margin-top: 2rem;
    border-radius: 50%;
    width: 100%;
    min-width: 100px;
    min-height: 100px;
    max-width: 280px;
    max-height: 280px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.projects {
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
}

.projects>h2 {
    text-align: center;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.project>img {
    border-radius: 50%;
    border: 0.2rem solid black;
    width: 100%;
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 0.8rem;
}

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.511);
    border: 0.2rem solid black;
    border-radius: 10px;
    padding: 1rem;
    width: 200px;
    height: 300px;
}

.project-text:hover {
    background-color: #fff;
    box-shadow: rgba(96, 96, 96, 0.485) 0px 5px 15px;
}

.project-text:hover .fa-square-js {
    color: #f0Db4f;
}

.project-text:hover .fa-html5 {
    color: #f06529;
}

.project-text:hover .fa-css3-alt {
    color: #2965f1;
}

.project-text:hover .threejs-logo {
    opacity: 100%;
}


.project-text h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.project-paragraph {
    font-size: 1rem;
}

.technos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.technos>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
}

.threejs-logo {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 30%;
}

.fa-brands {
    font-size: 2.5rem;
}




.website-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}

.website {
    font-size: 1rem;
    padding-right: 0.5rem;
}

.fa-link {
    text-transform: lowercase;
    font-size: 0.8rem;
}

.fa-circle-chevron-right {
    font-size: 1.5rem;
}

.who {
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.who>h2 {
    text-align: center;
}

.who-container {
    color: #fff;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
}

.who-container>p {
    padding: 1rem;
}

.contact {
    /* margin-top: 1rem; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.contact>h2 {
    text-align: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-line {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    padding: 1.5rem;
    font-size: 1rem;
}

.contact-line>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.contact-line .fa-circle-chevron-right {
    font-size: 2rem;
    margin-left: 1rem;
}

.fa-envelope {
    font-size: 2rem;
    margin-right: 1rem;
}

.fa-github {
    font-size: 2rem;
    margin-right: 1rem;
}

.fa-linkedin {
    font-size: 2rem;
    margin-right: 1rem;
}

.fa-twitter {
    font-size: 2rem;
    margin-right: 1rem;
}

.button {
    text-decoration: none;
    color: #fff;
}

.back-to-top {
    font-size: 3rem;
    position: fixed;
    bottom: 10px;
    float: right;
    left: 85%;
    max-width: 80px;
    width: 100%;
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
}

.rebuild {
    display: none;
}